<html>
    <head>
        <title>Proiect DJANGO</title>
    </head>
    <body>
        <nav>
            <div>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'aplicatie1:listare' %}">Location</a>
                    <a href="{% url 'aplicatie2:lista' %}">Company</a>
                    <a href="{% url 'aplicatie2:update_profile' request.user.id %}">User profile</a>
                    <a href="{% url 'aplicatie2:adauga_utilizator' %}">New user</a>
                    <a href="{% url 'jobs:listare_jobs' %}">Jobs</a>
                    {% if ready_to_work is False %}
                         <a href="{% url 'aplicatie2:oprire_pontaj' %}">Oprire pontaj</a>
                    {% else %}
                        <a href="{% url 'aplicatie2:pontaj' %}">Pornire pontaj</a>
                    {% endif %}
                    <a href="{% url 'logout' %}">Logout</a>
                {% endif %}
            </div>
        </nav>
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
